<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Hello from Server</title>
</head>
<body>
    <h1 class="text-emerald-500">hey From Server</h1>
</body>
</html>